<div>
    <canvas style="margin-bottom:50px" id="{% if include.divid %}{{ include.divid }}{% else %}chart-area{% endif %}"></canvas>
</div>
<script>
{% assign number = include.counts|size %}
var config = {
    type: 'pie',
    data: {
        datasets: [{
            data: [{% for count in include.counts %}{{ count[1] }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
            backgroundColor: palette('tol{% if number > 12 %}-dv{% endif %}', {{ include.counts|size }}).map(function(hex) {
                return '#' + hex;
            }),
            label: 'Dataset 1'
        }],
        labels: [{% for count in include.counts %}"{{ count[0] }}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}]
    },
    options: {
        responsive: true,
        legend: {
            display: true,
            align: "center",
            position: {% if include.legend %}"{{ include.legend }}"{% else %}"right"{% endif %}
        }
    }
};

var ctx = document.getElementById("{% if include.divid %}{{ include.divid }}{% else %}chart-area{% endif %}").getContext('2d');
var chart{{ include.divid }} = new Chart(ctx, config);
</script>
